// @import 'bootstrap/dist/css/bootstrap.css';
@import './public/css/font.css';
@import './public/css/bootstrap.min.css';
@import './public/css/icon.css';
body {
    color: #566787 !important;
    background: #f5f5f5 !important;
    font-family: 'Varela Round', sans-serif !important;
    font-size: 13px !important;
}